@{
    ViewData["Title"] = "Form";
}

@model TempleViewModel

<h3>Add a group to the temple appointment list here.</h3>
<p>[Enter required fields here]</p>

@if (Model.Appointment.Taken == false)
{


<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        @*<input type="text" value="@Model.Appointment.AppointmentTime" />
        <input type="hidden" asp-for="@Model.Appointment.AppointmentId" value="@Model.Appointment.AppointmentTime" />
        <input type="hidden" name="timeId" value="@Model.Appointment.AppointmentId" />*@

        <input type="hidden" asp-for="@Model.Appointment" name="Appointment" value="@Model.Appointment" />

        <label asp-for="@Model.Appointment.Taken" >Taken?</label>
        <input asp-for="@Model.Appointment.Taken" value="@Model.Appointment.Taken"/>

        <label asp-for="@Model.Appointment.AppointmentTime">Appointment Time:</label>
        <input asp-for="@Model.Appointment.AppointmentTime" value="@Model.Appointment.AppointmentTime" /><br />

        <label asp-for="@Model.Appointment.AppointmentId">Appointment Id: </label>
        <input asp-for="@Model.Appointment.AppointmentId" value="@Model.Appointment.AppointmentId" /><br />

        <label asp-for="@Model.Group.Date">Appointment Date:</label>
        <input asp-for="@Model.Group.Date" /><br />

        <label asp-for="@Model.Group.GroupName">Name of Group:</label>
        <input asp-for="@Model.Group.GroupName" /><br />

        <label asp-for="@Model.Group.GroupSize">Size of Group (1-15):</label>
        <input asp-for="@Model.Group.GroupSize"  /><br />

        <label asp-for="@Model.Group.Email">Email(xx@xx.com):</label>
        <input asp-for="@Model.Group.Email"  /><br />

        <label asp-for="@Model.Group.Phone">Phone(xxx-xxx-xxxx):</label>
        <input asp-for="@Model.Group.Phone"  /><br />

        <button type="submit">Submit</button>

    </form>
</div>
}
else
{
    <p>Uhoh! This has already been taken!</p>
}

<a class="btn btn-outline-secondary" asp-action="Index">Go back to home</a>