@{
    ViewData["Title"] = "Sign Up";
}

@model List<Appointment>

<div class="text-center">
    <h1>Tour Sign Up</h1>
    <h4>Please choose a date and time for your tour.</h4>
</div>

<div class="date">
    @if (ViewBag.Disable)
    {
        <a class="btn btn-secondary" disabled>Previous</a>
    }
    else
    {
        <a class="btn btn-warning" asp-controller="Home" asp-action="PreviousDate" asp-route-curDate="@ViewBag.CurDate">Previous</a>
    }
    <button class="btn btn-dark">@ViewBag.CurDate</button>
    <a class="btn btn-danger" asp-controller="Home" asp-action="NextDate" asp-route-curDate="@ViewBag.CurDate">Next</a>
</div>


<br />
@* Make a date field that gets carried in *@

    <div class="container ">
        <div class="btn-group-lg">
            @if (Model?.Count() > 0)
            {

                @foreach (Appointment x in Model)
                {
                    @if (x.Taken == false)
                    {
                        <form method="get" asp-controller="Home" asp-action="AddGroupForm" asp-route-curDate="@ViewBag.CurDate">
                            <input type="hidden" value="@x.AppointmentId" name="TimeId" />
                            <input type="hidden" value="@x.AppointmentTime" name="Time" />
                            <input type="hidden" value="@ViewBag.CurDate" name="Date" />
                            <button type="submit" class="btn btn-primary" style="width:1000px;">@x.AppointmentTime</button>
                        </form>
                        <br />
                    }
                }
            }
            else
            {
               
            }
        </div>
    </div>




